/* General Styling and Reset */
:root {
  --bgcolor: rgb(69, 69, 69);
  --font-color: white;
  --font-second: rgb(242, 242, 242);
  --js-color: rgb(255, 255, 0);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bgcolor);
  color: var(--font-color);
  font-family: 'Open Sans', sans-serif;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

/* Page Styling */

#navbar {
  width: 300px;
  border-right: 0.5px solid white;
  padding: 0.75rem;
  position: fixed;
  min-width: 290px;
  height: 100%;
}

#navbar h1 {
  font-size: 1.5rem;
  margin: 0.625rem 0;
}

#navbar h2 {
  font-size: 1.125rem;
  margin: 0 0 0.75rem 0;
}

.nav-container {
  list-style: none;
  margin: 0.75rem 0;
}

#main-doc {
  position: absolute;
  margin-left: 360px;
  padding: 0.9375rem 3.125rem;
}

.section-title {
  border-bottom: 0.5px solid;
  border-color: white;
  padding-bottom: 1rem;
}

.js {
  color: var(--js-color);
}

.snippets {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: gray;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: -20px;
}

.inline-code {
  background-color: gray;
  padding: 1px 5px;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar {
    background-color: var(--bgcolor);
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 300px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
    overflow: scroll;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
  }

}